# 初回接続時に SSHのホスト鍵チェックを無効化
[defaults]
host_key_checking = False

# 既存のSSH接続を他のセッションと共有する（高速化）、SSHコントロール接続を切断後も60秒間保持（再利用可能）、接続先のホスト鍵を事前に確認しない（yes/no/fingerprint ではない）、ファイルを無効化（保存しない）
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
